/* Comuni */
.testo-piccolo {
    font-size: 12px;
}

.grigio {
    color:gray
}

.turchese {
    color: darkturquoise;
}

.sfondo-turchese{
    background-color: turquoise;
}

.sfondo-blu {
    background-color: blue;
}

.bianco {
    color: white;
}

.testo-evidenziato {
    background-color: yellow;
}

/* header */
header {
    height: 150px;
    width: 100%;
    background-image: url("../img/pattern.png");
    background-color: deepskyblue;
    position: relative;
}

.logo {
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 5px;
}

/* Main */

h1 {
    font-size: 50px;
}

/* table */

