body {
    background-image: url(https://us.123rf.com/450wm/krekdm/krekdm1607/krekdm160700358/61905873-naadloze-lijn-patroon-kan-worden-gebruikt-voor-behang-website-achtergrond-textieldruk-modern-monochr.jpg?ver=6);
    background-repeat: repeat;
}

header {
    background-color: teal;
    border-radius: 50px;
}